<%= form_for Comment.new do |f| %>
  <%=f.hidden_field :user_id, :value => current_user.id %><br>
  <%=f.label :Comment %>
  <%=f.text_field :message %><br>
  <%=f.submit :Comment %>
<% end %>

<!-- <a href="/">Return Home</a> -->
