<div id="userContainer">
	<div id="userInfo">
		<br>
		<%=  current_user.first_name %>
		<br>
		<div id="newPostContainer">
			<%= form_tag("/newpost", method: "post") do %>
				<%=text_area_tag(:message) %>
			<%= submit_tag("Add") %>			
			<% end %>
		</div>
	</div>
	<div id="userPosts">
		<% if session[:user_id] %>
	
		<% @user.posts.reverse_each do |post| %>
		<div id="postContainer">
			<div id="postMessage">
				<%= post.message %>
			</div>
			<br>
			<span><%= distance_of_time_in_words(Time.now,post.created_at) %></span>
		</div>
		<br>
		<% end %>
		<% end %>
	</div>
</div>
<% if session[:user_id] %>
<% @users.each do |u|%>
<%= u.first_name %>
<% if @user.user_follows.where(follows_id:u.id).count!=0 %>
**
<% else %>
<% end %>
<br>
<% end %>
<% end %>