<% if  current_user.id != @user.id %>
<%= link_to 'My Profile', user_path(current_user.id) %>
<% end %><br>
<%= link_to 'Find users to follow',:controller=> 'users', :action=> 'find' %><br>
<div id="userContainer">
	<div id="userInfo">
		<table id="profileTable">
			<tr>
				<td><%= label_tag :email, 'Email', :class => 'profilelabel' %></td>
				<td><%=  @user.email %></td>
			</tr>
			<tr>
				<td>
				<%= label_tag :first_name, 'First Name', :class => 'profilelabel' %></td>
				<td><% if ! @user.first_name.nil? %>
					<%=  @user.first_name.capitalize %>
					<% end %>
				</td>
			</tr>
			<tr>
				<td>
					<%= label_tag :last_name, 'Last Name', :class => 'profilelabel' %>
				</td>
				<td>
					<% if ! @user.last_name.nil? %>
					<%=  @user.last_name.capitalize %>
					<% end %>
				</td>
			</tr>
			<% if  current_user.id == @user.id %>
			<tr>
				<td colspan="2">
					<%= link_to 'Edit', edit_user_path %>
				</td>
			</tr>
			<% else %>
			<tr>
				<td >
					<% if User.find(session[:user_id]).user_follows.where(follows_id:params[:id]).count!=0 %>
					<%= link_to 'Unfollow',  {:controller => "users", :action => "unfollow",:id=>params[:id]},:class => 'unfollowBtn' %>
					<% else %>
					<%= link_to 'Follow',  {:controller => "users", :action => "follow",:id=>params[:id]},:class => 'followBtn' %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
		<% if  current_user.id == @user.id %>
		<div id="newPostContainer">
			<%= form_tag("/newpost", method: "post") do %>
			<%=text_area_tag(:message,'', :class=>'newPostText') %>
			<%= submit_tag("Add") %>
			<% end %>
		</div>
		<% end %>
		<div id="userFollowsContainer">
			<table>
				<% @users.each do |u|%>
				<% if  u.id != session[:user_id] %>
				<% if @user.user_follows.where(follows_id:u.id).count!=0 %>
				<tr>
					<td>
						<%= link_to u.full_name, user_path(u.id) %>
					</td>
					<td>
						<% if  current_user.id == @user.id %>
						<%= link_to 'Unfollow',  {:controller => "users", :action => "unfollow",:id=>u.id},:class => 'unfollowBtn' %>
						<% end %>
					</td>
				</tr>
				<% end %>
				<% end %>
				<% end %>
			</table>
		</div>
	</div>
	<div id="userPosts">
		<% if session[:user_id] %>
		<% @user.posts.reverse_each do |post| %>
		<div id="postContainer">
			<div id="postMessage">
				<%= post.message %>
			</div>
			<% if  current_user.id == @user.id %>
			<%= link_to 'Delete Post',:controller=> 'users', :action=> 'delete_post', :post=>post.id  %>
			<br>
			<% end %>
			<span><%= distance_of_time_in_words(Time.now,post.created_at) %></span>
		</div>
		<br>
		<% end %>
		<% end %>
	</div>
</div>